
.status-card, {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(2);
  text-decoration: none;

  @include govuk-font($size: 19);

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }

  &:focus, &:link:focus, &:visited:focus {
    color:  $govuk-text-colour;
    background:  $govuk-focus-colour;
  }

}


.status-card, .status-card:visited {
  color: inherit;
}

// Colours sourced from here: https://github.com/alphagov/govuk-frontend/blob/61aabca3d440edee6bdecdd20ea54a241c7bbdd5/src/govuk/components/tag/_index.scss#L42

// Colours
// $status-card-draft-colour: govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30);
// $status-card-draft-background-colour: govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90);
// $status-card-draft-hover-colour: govuk-shade($status-card-draft-background-colour, 10%);

// $status-card-qts-recommended-colour: govuk-shade(govuk-colour("purple"), 20);
// $status-card-qts-recommended-background-colour: govuk-tint(govuk-colour("purple"), 80);
// $status-card-qts-recommended-hover-colour: govuk-tint(govuk-colour("purple"), 70);

$statuses: (
  "draft": (
    "colour":            govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30),
    "background-colour": govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90),
    "hover":             govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 80)
  ),
  "pending-trn": (
    "colour":            govuk-shade(govuk-colour("turquoise"), 60),
    "background-colour": govuk-tint(govuk-colour("turquoise"), 70),
    "hover":             govuk-tint(govuk-colour("turquoise"), 57),
  ),
  "trn-received": (
    "colour":            govuk-shade(govuk-colour("blue"), 30),
    "background-colour": govuk-tint(govuk-colour("blue"), 80),
    "hover":             govuk-tint(govuk-colour("blue"), 70)
  ),
  "qts-recommended": (
    "colour":            govuk-shade(govuk-colour("purple"), 20),
    "background-colour": govuk-tint(govuk-colour("purple"), 80),
    "hover":             govuk-tint(govuk-colour("purple"), 70)
  ),
  "qts-awarded": (
    "colour":            #fff,
    "background-colour": $govuk-brand-colour,
    "hover":             govuk-shade($govuk-brand-colour, 15%)
  ),
  "deferred": (
    "colour":            govuk-shade(govuk-colour("yellow"), 65),
    "background-colour": govuk-tint(govuk-colour("yellow"), 75),
    "hover":             govuk-tint(govuk-colour("yellow"), 60)
  ),
  "withdrawn": (
    "colour":            govuk-shade(govuk-colour("red"), 30),
    "background-colour": govuk-tint(govuk-colour("red"), 80),
    "hover":             govuk-tint(govuk-colour("red"), 70)
  )
);


// $status-card-qts-recommended-colour: 
// $status-card-qts-recommended-background-colour: 
// $status-card-qts-recommended-hover-colour: 

@each $status, $data in $statuses
{
  .status-card--#{$status} {
    &, &:link, &:visited {
      color: map-get($data, "colour");
      background: map-get($data, "background-colour");
    }
    &:hover {
      background: map-get($data, "hover");
    }
  }
}

// .status-card--draft {
//   &, &:link, &:visited {
//     color: $status-card-draft-colour;
//     background: $status-card-draft-background-colour;
//   }
//   &:hover {
//     background: $status-card-draft-hover-colour;
//   }
// }

// .status-card--qts-recommended {
//   &, &:link, &:visited {
//     color: $status-card-qts-recommended-colour;
//     background: $status-card-qts-recommended-background-colour;
//   }
//   &:hover {
//     background: $status-card-qts-recommended-hover-colour;
//   }
// }

// .status-card--qts-awarded {
//   &, &:link, &:visited {
//     color:  #fff;
//     background: $govuk-brand-colour;
//   }
// }

// .status-card--pending-trn {
//   &, &:link, &:visited {
//     color: govuk-shade(govuk-colour("turquoise"), 60);
//     background: govuk-tint(govuk-colour("turquoise"), 70);
//   }
// }

// .status-card--trn-received {
//   &, &:link, &:visited {
//     color: govuk-shade(govuk-colour("blue"), 30);
//     background: govuk-tint(govuk-colour("blue"), 80);
//   }
// }

// .status-card--deferred {
//   &, &:link, &:visited {
//     color: govuk-shade(govuk-colour("yellow"), 65);
//     background: govuk-tint(govuk-colour("yellow"), 75);
//   }
// }

// .status-card--withdrawn {
//   &, &:link, &:visited {
//     color: govuk-shade(govuk-colour("red"), 30);
//     background: govuk-tint(govuk-colour("red"), 80);
//   }
// }

.status-card__count {
  &, &:link, &:visited {
    @include govuk-font($size: 36, $weight: bold, $tabular: true);
    display: block;
  }
}
