{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Trainee submitted for TRN" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = '/records' %}
{% set backText = 'All records' %}



{% block formContent %}

{# For this one page, we no longer have record in session data, so have to look it up #}
{% set recordArray = data.records | where("route", data.recordId) %}
{% set record = recordArray[0] %}

{% set panelTitleText %}

  Record submitted for {{ record.personalDetails.shortName or "trainee" }}

{% endset %}

{{ govukPanel({
  titleText: panelTitleText,
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The Department for Education will issue a TRN within 3 working days.</p>

<p class="govuk-body govuk-!-margin-bottom-7">Keep the trainee record up to date and record the outcome of their training, even if you do not recommend them for a teacher status.</p>

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}

<p class="govuk-body">or</p>

<p class="govuk-body"><a href="/records" class="govuk-link">Check trainee statuses from your list of records</a></p>

{% endblock %}
