{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Trainee submitted for TRN" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = 'false' %}


{% block formContent %}

{{ govukPanel({
  titleText: "Trainee submitted for TRN",
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The Department for Education will issue the TRN within 3 working days.</p>

<p class="govuk-body">When the TRN is received, the trainee record status will be automatically updated. You can <a href="/records" class="govuk-link">check trainee statuses from your list of records</a>.</p>

<p class="govuk-body">You can recommend the trainee for QTS once their TRN is received and they’ve met the requirements.</p>

<p class="govuk-body">Would you like to <a href="/new-record/new" class="govuk-link">add another trainee</a>?</p>



  </li>
</ul>

{# {{ govukButton({
  text: "View record",
  href: "/record/" + data.recordId
}) }}

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}
 #}

{% endblock %}
