{% set years = [] %}

{% for year in data.years.academicYears %}

  {# Hacky code to have only one year checked by default. Would probably be better
  if this was done off of an array of years to default check #}
  {% if year == data.years.currentAcademicYear and filterCycleCurrentYearDefault %}
    {% set isChecked = checked(query.filterCycle, year) if query.filterCycle else filterCycleCurrentYearDefault %}
  {% else %}
    {% set isChecked = checked(query.filterCycle, year) %}
  {% endif %}



  {% set years = years | push({
    text: year,
    checked: isChecked
    }) %}


{% endfor %}




{{ govukCheckboxes({
  classes: "govuk-checkboxes--small js-auto-submit",
  fieldset: {
    legend: {
      text: "Course start",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: years
} | decorateAttributes(data, "data.filterCycle"))}}
